{% extends 'FulgurioLightCMSBundle::adminBase.html.twig' %}

{% block content %}
<form action="{{ action }}" method="post">
	<fieldset>
		<legend>{{ legend|trans({}, 'admin') }}</legend>
{% if form.vars.errors is not empty %}
		<div class="alert alert-error">
{%   for error in form.vars.errors %}{{ error.messageTemplate|trans({}, 'admin') }}<br />{% endfor %}
		</div>
{% endif %}
		<div class="row">
			<div class="span11">
				<div class="control-group">
					<label class="control-label" for="{{ form.username.vars.id }}">{% trans from 'admin' %}fulgurio.lightcms.users.add_form.username_label{% endtrans %}</label>
					<div class="controls">
						<input type="text" id="{{ form.username.vars.id }}" class="input-xlarge" name="{{ form.username.vars.full_name }}" value="{{ form.username.vars.value }}" autocomplete="off" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ form.password.first.vars.id }}">{% trans from 'admin' %}fulgurio.lightcms.users.add_form.password_label{% endtrans %}</label>
					<div class="controls">
						<input type="password" id="{{ form.password.first.vars.id }}" class="input-xlarge" name="{{ form.password.first.vars.full_name }}" autocomplete="off" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ form.password.second.vars.id }}">{% trans from 'admin' %}fulgurio.lightcms.users.add_form.password_second_label{% endtrans %}</label>
					<div class="controls">
						<input type="password" id="{{ form.password.second.vars.id }}" class="input-xlarge" name="{{ form.password.second.vars.full_name }}" autocomplete="off" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ form.email.vars.id }}">{% trans from 'admin' %}fulgurio.lightcms.users.add_form.email_label{% endtrans %}</label>
					<div class="controls">
						<input type="email" id="{{ form.email.vars.id }}" class="input-xlarge" name="{{ form.email.vars.full_name }}" value="{{ form.email.vars.value }}" required="required" />
					</div>
				</div>
{% if form.roles.vars.choices|length > 1 %}
				<div class="control-group">
					<label class="control-label" for="{{ form.roles.vars.id }}">{% trans from "admin" %}fulgurio.lightcms.users.add_form.roles_label{% endtrans %}</label>
					<div class="controls">
						<select name="{{ form.roles.vars.full_name }}" multiple="multiple" class="input-xlarge" id="{{ form.roles.vars.id }}">
{%   for choice in form.roles.vars.choices %}
							<option value="{{ choice }}"{% if choice in form.roles.vars.value %} selected="selected"{% endif %}>{{ ('fulgurio.lightcms.users.add_form.roles.' ~ choice)|trans({}, 'admin') }}</option>
{%   endfor %}
						</select>
					</div>
				</div>
{% else %}
				<input type="hidden" name="{{ form.roles.vars.full_name }}" value="ROLE_ADMIN" />
{% endif %}
				<div class="control-group">
					<label class="checkbox" for="{{ form.is_active.vars.id }}">{% trans from 'admin' %}fulgurio.lightcms.users.add_form.is_active_label{% endtrans %}
						<input type="checkbox" id="{{ form.is_active.vars.id }}" class="input-xlarge" name="{{ form.is_active.vars.full_name }}"{% if form.is_active.vars.checked %} checked="checked"{% endif %} />
					</label>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
			<button type="submit" class="btn btn-primary" name="realSubmit" value="1">{% trans from 'admin' %}fulgurio.lightcms.save{% endtrans %}</button>
			<a href="{{ path('AdminUsers') }}" class="btn">{% trans from 'admin' %}fulgurio.lightcms.cancel{% endtrans %}</a>
		</div>
	</fieldset>
</form>
{% endblock %}

{% block title %}{% if userId is defined %}{% trans from 'admin' %}fulgurio.lightcms.users.edit_form.title{% endtrans %}{% else %}{% trans from 'admin' %}fulgurio.lightcms.users.add_form.title{% endtrans %}{% endif %}{% endblock %}

{% if userId is defined %}
{%   set legend = 'fulgurio.lightcms.users.edit_form.legend' %}
{%   set action = path('AdminUsersEdit', { 'userId' : userId} ) %}
{% else %}
{%   set legend = 'fulgurio.lightcms.users.add_form.legend' %}
{%   set action = path('AdminUsersAdd') %}
{% endif %}