{% extends 'FulgurioLightCMSBundle::adminBase.html.twig' %}

{% block title %}{% trans from 'admin' %}fulgurio.lightcms.users.title{% endtrans %}{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('notice') %}			<div class="alert alert-notice">{{ flashMessage|trans }}<br /></div>{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}			<div class="alert alert-success">{{ flashMessage|trans }}<br /></div>{% endfor %}
			<form method="post" action="{{ path('AdminUsers') }}">
				<div class="clearfix">
					<a class="btn pull-right" href="{{ path('AdminUsersAdd') }}">{% trans from 'admin' %}fulgurio.lightcms.users.add_new_user{% endtrans %}</a>
				</div>
{% if users is empty %}
				<p>{% trans from 'admin' %}fulgurio.lightcms.users.no_user{% endtrans %}</p>
{% else %}
				<br />
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{% trans from 'admin' %}fulgurio.lightcms.users.username{% endtrans %}</th>
							<th>{% trans from 'admin' %}fulgurio.lightcms.users.email{% endtrans %}</th>
							<th>{#Options#}</th>
						</tr>
					</thead>
					<tbody>
{%   for user in users %}
						<tr>
							<td>{{ user.username}}</td>
							<td>{{ user.email }}</td>
							<td>
								<a href="{{ path('AdminUsersEdit', {userId: user.id}) }}" class="icon-edit"></a>
								{% if app.user.id != user.id %}<a href="{{ path('AdminUsersRemove', {userId: user.id}) }}" class="icon-remove-circle" data-toggle="modal" data-target="#myModal"></a>{% endif %}
							</td>
						</tr>
{%   endfor %}
					</tbody>
				</table>
{%   include 'FulgurioLightCMSBundle::adminPagination.html.twig' %}
{% endif %}
			</form>
{% endblock %}
