{% if pageCount > 1 %}
									<div class="pagination">
										<ul class="pull-right">
{%   if current != first %}
											<li><a href="{{ path(route, query|merge({'page': first})) }}" class="page_first" title="{% trans from 'admin' %}fulgurio.lightcms.first_page{% endtrans %}"><i class="icon-fast-backward"></i></a></li>
{%   endif %}
{%   if current  - 1 != first %}
{%     if current > 1 %}
											<li><a href="{{ path(route, query|merge({'page': current - 1})) }}" title="{% trans from 'admin' %}fulgurio.lightcms.previous_page{% endtrans %}"><i class="icon-backward"></i></a></li>
{%     else %}
											<li class="disabled"><a>&laquo;</a></li>
{%     endif %}
{%   endif %}
											<li class="active"><a>Page <strong>{{ current }}</strong> / {{ pageCount }}</a></li>
{%   if current + 1 != last %}
{%     if current < pageCount %}
											<li><a href="{{ path(route, query|merge({'page': current + 1})) }}" title="{% trans from 'admin' %}fulgurio.lightcms.next_page{% endtrans %}"><i class="icon-forward"></i></a></li>
{%     else %}
											<li class="disabled"><a>&raquo;</a></li>
{%     endif %}
{%   endif %}
{%   if current != last %}
											<li><a href="{{ path(route, query|merge({'page': last})) }}" class="page_last" title="{% trans from 'admin' %}fulgurio.lightcms.last_page{% endtrans %}"><i class="icon-fast-forward"></i></a></li>
{%   endif %}
										</ul>
										<br class="clearfix" />
									</div>
{% endif %}