{% extends 'FulgurioLightCMSBundle::adminBase.html.twig' %}
{% block title %}{% if pageId is defined %}{% trans from "admin" %}fulgurio.lightcms.pages.edit_form.title{% endtrans %}{% else %}{% trans from "admin" %}fulgurio.lightcms.pages.add_form.title{% endtrans %}{% endif %}{% endblock %}
{% block content %}
{% if pageId is defined %}
{%   set legend = 'fulgurio.lightcms.pages.edit_form.legend' %}
{%   set action = path('AdminPagesEdit', { 'pageId' : pageId} ) %}
{%   set cancelPath = path('AdminPagesSelect', { 'pageId' : pageId} ) %}
{% else %}
{%   set legend = 'fulgurio.lightcms.pages.add_form.legend' %}
{%   set action = path('AdminPagesAddChild', { 'parentId': parent.id }) %}
{%   set cancelPath = path('AdminPagesSelect', { 'pageId' : parent.id} ) %}
{% endif %}
<form action="{{ action }}" method="post" id="p_form">
	<fieldset>
		<legend>{{ legend|trans({}, 'admin') }}</legend>
{% if form.getChild('model').get('errors')
    or form.getChild('title').get('errors')
    or form.getChild('content').get('errors') %}
			<div class="alert alert-error">
{%   for error in form.getChild('model').get('errors') %}{{ error.messageTemplate|trans }}<br />{%   endfor %}
{%   for error in form.getChild('title').get('errors') %}{{ error.messageTemplate|trans }}<br />{%   endfor %}
			</div>
{% endif %}
		<div class="row">
{% if form.getChild('model').get('choices')|length > 1 %}
			<div class="span7">
				<div class="control-group">
					<label class="control-label" for="p_model">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.model_label{% endtrans %}</label>
					<div class="controls form-inline">
						<select name="{{ form.getChild('model').get('full_name') }}" class="input-xlarge span2" id="p_model" >
{%   for choiceName, choice in form.getChild('model').get('choices') %}
							<option value="{{ choiceName }}"{% if choiceName == form.getChild('model').get('value') or (choiceName == 'standard' and pageId is not defined) %} selected="selected"{% endif %}>{{ ('fulgurio.lightcms.pages.add_form.model.' ~ choiceName)|trans({}, 'admin') }}</option>
{%   endfor %}
						</select>
						<noscript><button type="submit" class="btn" name="changeModel" value="1">Changer</button></noscript>
					</div>
				</div>
			</div>
{%   else %}
				<input type="hidden" id="p_model" class="input-small" name="{{ form.getChild('model').get('full_name') }}" value="{{ form.getChild('model').get('value') }}" />
{% endif %}
			<div class="span7">
				<div class="control-group">
					<label class="control-label" for="p_title">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.title_label{% endtrans %}</label>
					<div class="controls">
						<input type="text" id="p_title" class="input-xlarge" name="{{ form.getChild('title').get('full_name') }}" value="{{ form.getChild('title').get('value') }}" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="p_slug">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.redirection_target_label{% endtrans %}</label>
					<div class="controls">
						<input type="text" id="p_slug" class="input-xlarge" name="{{ form.getChild('slug').get('full_name') }}" value="{{ form.getChild('slug').get('value') }}" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="p_status">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.status_label{% endtrans %}</label>
					<div class="controls">
						<select name="{{ form.getChild('status').get('full_name') }}" class="input-xlarge" id="p_status" >

{% for choice in form.getChild('status').get('choices') %}
							<option value="{{ choice }}"{% if choice in form.getChild('status').get('value') %} selected="selected"{% endif %}>{{ ('fulgurio.lightcms.pages.add_form.status.' ~ choice)|trans({}, 'admin') }}</option>
{% endfor %}
						</select>
					</div>
				</div>
				<noscript>
					<div class="control-group">
						<label class="control-label" for="p_position">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.position_label{% endtrans %}</label>
						<div class="controls">
							<input type="number" id="p_position" class="input-small" name="{{ form.getChild('position').get('full_name') }}" value="{{ form.getChild('position').get('value') }}" />
						</div>
					</div>
				</noscript>
				<script>
document.write('<input type="hidden" name="{{ form.getChild('position').get('full_name') }}" value="{{ form.getChild('position').get('value') }}" />');
				</script>
			</div>
			<div class="span4 pull-right"></div>
		</div>
		<div class="form-actions">
			<input type="hidden" name="{{ form.getChild('content').get('full_name') }}" value="" />
			<input type="hidden" name="{{ form.getChild('parent').get('full_name') }}" value="{{ form.getChild('parent').get('value') }}" />
			<input type="hidden" name="{{ form.getChild('_token').get('full_name') }}" value="{{ form.getChild('_token').get('value') }}" />
			<button type="submit" class="btn btn-primary" name="realSubmit" value="1">{% trans from 'admin' %}fulgurio.lightcms.save{% endtrans %}</button>
			<a href="{{ cancelPath }}" class="btn">{% trans from 'admin' %}fulgurio.lightcms.cancel{% endtrans %}</a>
		</div>
	</fieldset>
</form>
{% endblock %}
{% block javascriptBottom %}
<script src="{{ asset('bundles/fulguriolightcms/js/tiny_mce/jquery.tinymce.js') }}"></script>
<script>
$(function() {
	$('textarea.tinymce').tinymce({
		// Location of TinyMCE script
		script_url : '{{ asset('bundles/fulguriolightcms/js/tiny_mce/tiny_mce.js') }}',
{% if tiny_mce.content_css is defined %}		content_css: '{{ asset(tiny_mce.content_css) }}',{% endif %}
		// General options
		theme : "{{ tiny_mce.theme }}",
		skin : "{{ tiny_mce.skin }}",
		plugins : "{{ tiny_mce.plugins }}",
		theme_advanced_buttons1 : "{{ tiny_mce.theme_advanced_buttons1 }}",
		theme_advanced_buttons2 : "{{ tiny_mce.theme_advanced_buttons2 }}",
		theme_advanced_buttons3 : "{{ tiny_mce.theme_advanced_buttons3 }}",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,
		theme_advanced_resize_horizontal: false,
		file_browser_callback: 'filesBrowser',
	});
	$('#p_model').change(function() {
		$('#p_form').submit();
	});
});
function filesBrowser(fid, url, type, win) {
	tinyMCE.activeEditor.windowManager.open({
		file : "{{ path('AdminTinyMCEFileBrowser') }}",
		width : 420,
		height : 144,
		resizable : "no",
		close_previous : "no"
	}, {
		window : win,
		input : fid
	});
}
</script>
{% endblock %}