{% extends 'FulgurioLightCMSBundle:models:_adminAddForm.html.twig' %}

{% block leftFields %}
				<div class="control-group">
					<label class="control-label" for="{{ form.target_link.vars.id }}">{% trans from "admin" %}fulgurio.lightcms.redirect.add_form.target_link{% endtrans %}</label>
					<div class="controls">
						<input type="text" id="{{ form.target_link.vars.id }}" class="input-xlarge" name="{{ form.target_link.vars.full_name }}" value="{% if form.target_link.vars.value %}{{ form.target_link.vars.value }}{% else %}{% if pageMetas['target_link'] is defined %}{{ pageMetas['target_link'].metaValue }}{% endif %}{% endif %}" />
					</div>
				</div>
{% endblock %}