{% extends 'FulgurioLightCMSBundle:AdminPage:list.html.twig' %}

{% block title %}{% trans from 'admin' %}fulgurio.lightcms.pages.title{% endtrans %}{% endblock %}

{% block pageContent%}
		<section>
			<a href="{{ path('LightCMS_Page', { fullpath: selectedPage.fullpath }) }}" target="_blank" title="{% trans from 'admin' %}fulgurio.lightcms.pages.show{% endtrans %}" class="btn"><i class="icon-search"></i></a>
			<a href="{{ path('AdminPagesEdit', {pageId: selectedPage.id}) }}" title="{% trans from 'admin' %}fulgurio.lightcms.pages.edit{% endtrans %}" class="btn"><i class="icon-pencil"></i></a>
{% if selectedPage.getFullpath() != '' %}
			<a href="{{ path('AdminPagesRemove', {pageId: selectedPage.id}) }}" title="{% trans from 'admin' %}fulgurio.lightcms.pages.remove{% endtrans %}" class="btn" data-toggle="modal" data-target="#myModal"><i class="icon-trash"></i></a>
{% endif %}
			<a href="{{ path('AdminPagesAddChild', {parentId: selectedPage.id}) }}" class="btn pull-right">{% trans from 'admin' %}fulgurio.lightcms.pages.add_child_page_button{% endtrans %}</a>
		</section>
{% if targetCopyPages is not empty %}
<br />
		<div class="pull-right">
		{% trans from 'admin' %}fulgurio.lightcms.pages.copy_language_page{% endtrans %} :
{%   for lang, targetPage in targetCopyPages %}
			&nbsp;<a href="{{ path('AdminPagesCopy', {'sourceId': selectedPage.id, 'targetId': targetPage, 'lang': lang }) }}" class="btn"><img src="{{ asset('bundles/fulguriolightcms/img/flags/' ~ lang ~ '.png') }}" alt="{{ lang }}" /></a>
{%   endfor %}
		</div>
		<div class="clearfix"></div>
{% endif %}
		<article>
			<h2>{{ selectedPage.title }}</h2>
			{{ selectedPage.content|striptags('<br><ul><li>')|raw}}
		</article>
{% endblock %}

{% set targetCopyPages = needTranslatedPages(selectedPage) %}