{% extends 'FulgurioLightCMSBundle::adminBase.html.twig' %}

{% block content %}
{% if pageId is defined %}
{%   set legend = 'fulgurio.lightcms.pages.edit_form.legend' %}
{%   set action = path('AdminPagesEdit', { 'pageId' : pageId} ) %}
{%   set cancelPath = path('AdminPagesSelect', { 'pageId' : pageId} ) %}
{% else %}
{%   set legend = 'fulgurio.lightcms.pages.add_form.legend' %}
{%   set action = path('AdminPagesAddChild', { 'parentId': parent.id }) %}
{%   set cancelPath = path('AdminPagesSelect', { 'pageId' : parent.id} ) %}
{% endif %}
<form action="{{ action }}" method="post" id="p_form">
	<fieldset>
		<legend>{{ legend|trans({}, 'admin') }}</legend>
{% if form.getChild('model').get('errors')
    or form.getChild('title').get('errors')
    or form.getChild('status').get('errors') %}
			<div class="alert alert-error">
{%   for error in form.getChild('model').get('errors') %}{{ error.messageTemplate|trans({}, 'admin') }}<br />{%   endfor %}
{%   for error in form.getChild('title').get('errors') %}{{ error.messageTemplate|trans({}, 'admin') }}<br />{%   endfor %}
{%   for error in form.getChild('status').get('errors') %}{{ error.messageTemplate|trans({}, 'admin') }}<br />{%   endfor %}
			</div>
{% endif %}
		<div class="row">
{% if form.getChild('model').get('choices')|length > 1 %}
			<div class="span7">
				<div class="control-group">
					<label class="control-label" for="p_model">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.model_label{% endtrans %}</label>
					<div class="controls form-inline">
						<select name="{{ form.getChild('model').get('full_name') }}" class="input-xlarge span2" id="p_model" >
{%   for choiceName, choice in form.getChild('model').get('choices') %}
							<option value="{{ choiceName }}"{% if choiceName == form.getChild('model').get('value') or (choiceName == 'standard' and pageId is not defined and form.getChild('model').get('value') == '') %} selected="selected"{% endif %}>{{ ('fulgurio.lightcms.pages.add_form.model.' ~ choiceName)|trans({}, 'admin') }}</option>
{%   endfor %}
						</select>
						<noscript><button type="submit" class="btn" name="changeModel" value="1">Changer</button></noscript>
					</div>
				</div>
			</div>
{% else %}
			<input type="hidden" id="p_model" class="input-small" name="{{ form.getChild('model').get('full_name') }}" value="standard" />
{% endif %}
			<div class="span7">
				<div class="control-group">
					<label class="control-label" for="p_title">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.title_label{% endtrans %}</label>
					<div class="controls">
						<input type="text" id="p_title" class="input-xlarge" name="{{ form.getChild('title').get('full_name') }}" value="{{ form.getChild('title').get('value') }}" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="p_content">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.content_label{% endtrans %}</label>
					<div class="controls">
						<textarea class="input-xlarge wysiwyg" id="p_content" name="{{ form.getChild('content').get('full_name') }}">{{ form.getChild('content').get('value') }}</textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="p_status">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.status_label{% endtrans %}</label>
					<div class="controls">
						<select name="{{ form.getChild('status').get('full_name') }}" class="input-xlarge" id="p_status" >
{% for choice in form.getChild('status').get('choices') %}
							<option value="{{ choice }}"{% if choice in form.getChild('status').get('value') %} selected="selected"{% endif %}>{{ ('fulgurio.lightcms.pages.add_form.status.' ~ choice)|trans({}, 'admin') }}</option>
{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="well span4 pull-right">
{% if useMultiLang is defined %}
				<div class="control-group">
					<label class="control-label" for="p_lang">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.lang_label{% endtrans %}</label>
					<div class="controls">
						<select name="{{ form.getChild('lang').get('full_name') }}" class="input-small" id="p_lang" >
{% for choice in form.getChild('lang').get('choices') %}
							<option value="{{ choice }}"{% if choice in form.getChild('lang').get('value') %} selected="selected"{% endif %}>{{ choice }}</option>
{% endfor %}
						</select>
					</div>
				</div>
{% endif %}
				<div class="control-group">
					<label class="control-label" for="p_meta_keywords">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.meta_keywords_label{% endtrans %}</label>
					<div class="controls">
						<input type="text" id="p_meta_keywords" class="input-xlarge" name="{{ form.getChild('meta_keywords').get('full_name') }}" value="{% if form.getChild('meta_keywords').get('value') %}{{ form.getChild('meta_keywords').get('value') }}{% else %}{% if pageMetas['meta_keywords'] is defined %}{{ pageMetas['meta_keywords'].metaValue }}{% endif %}{% endif %}" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="p_meta_description">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.meta_description_label{% endtrans %}</label>
					<div class="controls">
						<textarea class="input-xlarge" id="p_meta_description" name="{{ form.getChild('meta_description').get('full_name') }}">{% if form.getChild('meta_description').get('value') %}{{ form.getChild('meta_description').get('value') }}{% else %}{% if pageMetas['meta_description'] is defined %}{{ pageMetas['meta_description'].metaValue }}{% endif %}{% endif %}</textarea>
					</div>
				</div>
{% if form.getChild('availableMenu').get('choices')|length > 0 %}
				<div class="control-group">
					<label class="control-label" for="p_availableMenu">{% trans from "admin" %}fulgurio.lightcms.menus.add_form.menu_label{% endtrans %}</label>
					<div class="controls">
						<select name="{{ form.getChild('availableMenu').get('full_name') }}" multiple="multiple" class="input-xlarge" id="p_availableMenu" >
{%   for choice in form.getChild('availableMenu').get('choices') %}
							<option value="{{ choice }}"{% if choice in form.getChild('availableMenu').get('value') %} selected="selected"{% endif %}>{{ ('fulgurio.lightcms.pages.add_form.menu.' ~ choice)|trans({}, 'admin') }}</option>
{%   endfor %}
						 </select>
					</div>
				</div>
{% endif %}
			</div>
		</div>
		<div class="form-actions">
			<input type="hidden" name="{{ form.getChild('parent').get('full_name') }}" value="{{ form.getChild('parent').get('value') }}" />
			<input type="hidden" name="{{ form.getChild('sourceId').get('full_name') }}" value="{{ form.getChild('sourceId').get('value') }}" />
			<input type="hidden" name="{{ form.getChild('_token').get('full_name') }}" value="{{ form.getChild('_token').get('value') }}" />
			<button type="submit" class="btn btn-primary" name="realSubmit" value="1">{% trans from 'admin' %}fulgurio.lightcms.save{% endtrans %}</button>
			<a href="{{ cancelPath }}" class="btn">{% trans from 'admin' %}fulgurio.lightcms.cancel{% endtrans %}</a>
		</div>
	</fieldset>
</form>
{% endblock %}

{% block title %}{% if pageId is defined %}{% trans from "admin" %}fulgurio.lightcms.pages.edit_form.title{% endtrans %}{% else %}{% trans from "admin" %}fulgurio.lightcms.pages.add_form.title{% endtrans %}{% endif %}{% endblock %}

{% block javascriptBottom %}
{% include 'FulgurioLightCMSBundle:tiny_mce:bottom.html.twig' %}
<script>
$(function() {
	$('#p_model').change(function() {
		$('#p_form').submit();
	});
});
</script>
{% endblock %}