{% extends 'FulgurioLightCMSBundle::adminBase.html.twig' %}

{% block title %}{% trans from 'admin' %}fulgurio.lightcms.medias.title{% endtrans %}{% endblock %}

{% block content %}
{% if app.session.hasFlash('notice') %}			<div class="alert alert-notice">{{ app.session.flash('notice')|trans }}</div>{% endif %}
{% if app.session.hasFlash('success') %}			<div class="alert alert-success">{{ app.session.flash('success')|trans }}</div>{% endif %}
			<form method="post" action="{{ path('AdminMedias') }}">
				<div class="pull-left">
					<div class="input-prepend input-append">
						<span class="add-on">{% trans from 'admin' %}fulgurio.lightcms.medias.filter{% endtrans %} :</span>
						<select class="span2" name="filter">
							<option></option>
							<option value="image"{% if app.request.get('filter') == 'image' %} selected="selected"{% endif %}>{% trans from 'admin' %}fulgurio.lightcms.medias.media_types.pictures{% endtrans %}</option>
{#}							<option value="video"{% if app.request.get('filter') == 'video' %} selected="selected"{% endif %}>{% trans from 'admin' %}fulgurio.lightcms.medias.media_types.videos{% endtrans %}</option>#}
							<option value="application"{% if app.request.get('filter') == 'application' %} selected="selected"{% endif %}>{% trans from 'admin' %}fulgurio.lightcms.medias.media_types.others{% endtrans %}</option>
						</select>
						<input type="text" class="span2" name="filename" placeholder="{% trans from 'admin' %}fulgurio.lightcms.medias.add_form.filename{% endtrans %}" value="{{ app.request.get('filename') }}">
						<button type="submit" class="btn">{% trans from 'admin' %}fulgurio.lightcms.search{% endtrans %}</button>
					</div>
				</div>
				<div class="clearfix">
					<a class="btn pull-right" href="{{ path('AdminMediasAdd') }}">{% trans from 'admin' %}fulgurio.lightcms.medias.add_new_media{% endtrans %}</a>
				</div>
{% if medias is empty %}
				<p>{% trans from 'admin' %}fulgurio.lightcms.medias.no_media{% endtrans %}</p>
{% else %}
				<br />
				<ul class="thumbnails">
{% for media in medias %}
					<li class="span2">
						<div class="thumbnail">
{%    if media.fullPath is null %}
							<img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" data-src="holder.js/300x200" alt=""></a>
{%    else %}
							<a data-target="#lightbox" data-toggle="lightbox" data-image="{{ media.fullPath }}" href="{{ media.fullPath }}"><img src="{{ thumb(media, 'medium') }}" alt="" /></a>
{%    endif %}
							<h6 title="{{ media.originalName }}"><span>{{ media.originalName }}</span>
								<a href="{{ path('AdminMediasRemove', {mediaId: media.id}) }}" class="pull-right icon-remove-circle" data-toggle="modal" data-target="#myModal"></a>
								<br class="clearfix" />
							</h6>
						</div>
					</li>
{% endfor %}
				</ul>
{% include 'FulgurioLightCMSBundle::adminPagination.html.twig' %}
			</form>
{% include 'FulgurioLightCMSBundle::adminLightbox.html.twig' %}
{% endif %}
{% endblock %}

{% block javascriptTop %}
<link rel="stylesheet" href="{{ asset('bundles/fulguriolightcms/css/bootstrap-lightbox.min.css') }}">
{% endblock %}

{% block javascriptBottom %}
<script src="{{ asset('bundles/fulguriolightcms/js/bootstrap-lightbox.min.js') }}"></script>
{% endblock %}